////
/// Settings File
/// Init fonts, backgrounds, wrappers, breakpoints and Transition variables
/// @group Settings
////

@import 'https://fonts.googleapis.com/css?family=Noto+Serif';

@font-face {
  font-family: 'Campton-Book';
  src: url('../fonts/Campton-Book.eot');
  src: url('../fonts/Campton-Book.woff2') format('woff2'),
       url('../fonts/Campton-Book.woff') format('woff'),
       url('../fonts/Campton-Book.ttf') format('truetype'),
       url('../fonts/Campton-Book.svg#Campton-Bold') format('svg'),
       url('../fonts/Campton-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Campton-Bold';
  src: url('../fonts/Campton-Bold.eot');
  src: url('../fonts/Campton-Bold.woff2') format('woff2'),
       url('../fonts/Campton-Bold.woff') format('woff'),
       url('../fonts/Campton-Bold.ttf') format('truetype'),
       url('../fonts/Campton-Bold.svg#Campton-Bold') format('svg'),
       url('../fonts/Campton-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

 @font-face {
  font-family: 'Campton-SemiBold';
  src: url('../fonts/Campton-SemiBold.eot');
  src: url('../fonts/Campton-SemiBold.woff2') format('woff2'),
       url('../fonts/Campton-SemiBold.woff') format('woff'),
       url('../fonts/Campton-SemiBold.ttf') format('truetype'),
       url('../fonts/Campton-SemiBold.svg#Campton-SemiBold') format('svg'),
       url('../fonts/Campton-SemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



///Fonts///
///
///Size
$msuif-font-size-small: 14px;
///
$msuif-font-size: 16px;
///
$msuif-font-size-big: 20px;
///
$msuif-font-size-jumbo: 26px;
///
$msuif-font-size-jumbo-plus: 36px;
///
$msuif-font-size-super: 60px;
///
///Weight
$msuif-font-weight-light: 300;
///
$msuif-font-weight-regular: 400;
///
$msuif-font-weight-semibold: 600;
///
$msuif-font-weight-bold: 700;
///
///Family
$msuif-font-family-default: "Campton-Book", "Helvetica Neue", Helvetica, sans-serif;
///
$msuif-font-family-primary: "Campton-SemiBold", "Campton-Bold", "Helvetica Neue", Helvetica, sans-serif;
///
$msuif-font-family-secondary: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
///
$msuif-font-family-tertiary: "Noto Serif", "Helvetica Neue", Helvetica, sans-serif;
///
$msuif-font-family-quaternary: "Campton-Bold", "Campton-SemiBold",  "Helvetica Neue", "Noto Serif", Helvetica, sans-serif;



/// Transition/Animation ///
///
$msuif-transition-duration: 0.25s;
///
$msuif-transition-timing: ease;
///

/// Colors ///
///
$color-red: #961E23;
///
$color-blue: #4AA8B7;
///
$color-orange: #F58255;
///
$color-peach: #ead2d2;
///
$color-yellow: #E6C81E;
///
$color-green: #69BEA5;
///
$color-gray: #41413c;
///
$color-lightgray: #F6F6F6;
///
$color-pink: #F4E8E8;
///
$color-lightblue: #75B9C4;
///
$color-lighterblue: #D8FAFB;
///
$color-sand: #FCF9E8;
///
$color-black: #000000;
///
$color-white: #FFFFFF;
///
$color-ivory: #FCFCFC;
///
$msuif-background: $color-red;
///
$msuif-font-color: tint($color-black,35%);
///
$msuif-font-color-secondary: tint($color-black,30%);
///
$msuif-font-color-tertiary: #606060;
///
$modal-backdrop-background:    rgba(0, 0, 0, 0.5);
///
$modal-transition-delay:       $msuif-transition-duration !default;
///



/// Breakpoints ///
///
$msuif-breakpoints: (
  'desktop': (min-width: 1026px),
  'ipad': (min-width: 501px, max-width: 1025px),
  'ismobile': (max-width: 500px)
);
