////
/// Settings File
/// Init fonts, backgrounds, wrappers, breakpoints and Transition variables
/// @group Settings
////


/// Fonts ///
///
$msuif-font-size-small: 14px;
///
$msuif-font-size: 16px;
///
$msuif-font-size-big: 20px;
///
$msuif-font-size-jumbo: 26px;
///
$msuif-font-size-super: 60px;
///
$msuif-font-weight-light: 300;
///
$msuif-font-weight-regular: 400;
///
$msuif-font-weight-semibold: 600;
///
$msuif-font-weight-bold: 700;
///
$msuif-font-family-primary: Campton Bold;
///
$msuif-font-family-secondary: Open Sans, "Helvetica Neue", Helvetica, sans-serif;
///
$msuif-font-family-tertiary: Noto Serif, "Helvetica Neue", Helvetica, sans-serif;
///
$msuif-font: $msuif-font-weight-regular toem($msuif-font-size) $msuif-font-family-primary;
///


/// Colors ///
///
$color-red: #961E23;
///
$color-blue: #4AA8B7;
///
$color-orange: #F58255;
///
$color-yellow: #E6C81E;
///
$color-green: #69BEA5;
///
$color-gray: #AAAFA1;
///
$color-pink: #F4E8E8;
///
$color-lightblue: #D8FAFB;
///
$color-sand: #FCF9E8;
///
$color-black: #000000;
///
$color-white: #FFFFFF;
///
$color-ivory: #FCFCFC;
///
$msuif-font-color: $color-black;
///
$msuif-background: $color-red;


/// Breakpoints ///
///
$msuif-breakpoints: (
  'desktop-fhd': (max-width: 1920px),
  'desktop': (max-width: 1366px),
  'ipad': (min-width: 1023px, max-width: 1024px),
  'isdesktop': (min-width: 1024px),
  'ismobile': (max-width: 1024px),
  'iphone': (max-width: 980px)
);



/// Transition/Animation ///
///
$msuif-transition-duration: 0.25s;
///
$msuif-transition-timing: ease;
