////
/// Typography
/// Init typography basic settings
/// @group Typography
////

///
@import "./settings";
///
@import "../modules/icons";


///
$msuif-headers-h1-font-size: 				torem(48px);
$msuif-headers-h1-font-size-mobile: 				torem(38px);
///
$msuif-headers-h2-font-size: 				torem(56px);
$msuif-headers-h2-font-size-mobile: 				torem(44px);
///
$msuif-headers-h3-font-size: 				torem(38px);
$msuif-headers-h3-font-size-mobile: 				torem(34px);
///
$msuif-headers-h4-font-size: 				torem(24px);
$msuif-headers-h4-font-size-mobile: 				torem(24px);
///
$msuif-headers-h5-font-size: 				torem(22px);
$msuif-headers-h5-font-size-mobile: 				torem(20px);
///
$msuif-headers-h6-font-size: 				torem(20px);
$msuif-headers-h6-font-size-mobile: 				torem(16px);
///
$msuif-headers-p-font-size:         torem(18px);
$msuif-headers-p-font-size-mobile:         torem(18px);
///
$msuif-headers-small-p-font-size:   torem(16px);
$msuif-headers-small-p-font-size-mobile:   torem(16px);


h1 {
  font-size: $msuif-headers-h1-font-size;
  font-family: $msuif-font-family-quaternary;

  @include respond-to('ismobile') {
    font-size: $msuif-headers-h1-font-size-mobile;
    line-height: 1;
  }
}

h2 {
  font-size: $msuif-headers-h2-font-size;
  font-weight: $msuif-font-weight-semibold;
  font-family: $msuif-font-family-primary;
  text-transform: uppercase;

  @include respond-to('ismobile') {
    font-size: $msuif-headers-h2-font-size-mobile;
    line-height: 1;
  }
}

h3 {
  font-size: $msuif-headers-h3-font-size;
  font-family: $msuif-font-family-quaternary;

  @include respond-to('ismobile') {
    font-size: $msuif-headers-h3-font-size-mobile;
  }
}

h4 {
  font-size: $msuif-headers-h4-font-size;
  font-weight: $msuif-font-weight-semibold;
  font-family: $msuif-font-family-secondary;

  @include respond-to('ismobile') {
    font-size: $msuif-headers-h4-font-size-mobile;
  }
}

h5 {
  font-size: $msuif-headers-h5-font-size;
  font-weight: $msuif-font-weight-bold;
  font-family: $msuif-font-family-tertiary;

  @include respond-to('ismobile') {
    font-size: $msuif-headers-h5-font-size-mobile;
  }
}

h6 {
  font-size: $msuif-headers-h6-font-size;
  font-weight: $msuif-font-weight-semibold;
  font-family: $msuif-font-family-primary;

  @include respond-to('ismobile') {
    font-size: $msuif-headers-h6-font-size-mobile;
  }
}

p {
  font-size: $msuif-headers-p-font-size;
  font-family: $msuif-font-family-secondary;
  text-align: left;

  @include respond-to('ismobile') {
    font-size: $msuif-headers-p-font-size-mobile;
  }
}

.small-p {
  font-size: $msuif-headers-small-p-font-size;
  font-family: $msuif-font-family-secondary;
  text-align: left;

  @include respond-to('ismobile') {
    font-size: $msuif-headers-small-p-font-size-mobile;
  }
}

///
html,
button {
  -webkit-font-smoothing: antialiased;
}
