////
/// Alert Boxes
/// @group Component - Alerts
////

///
$alert-status-color: (
  'notice': #ADD8E6,
  'warning': #F0E68C,
  'error': #CD5C5C,
  'success': #66CDAA
);
///
$alert-toast-margin: toem(20px) !default;
///
$alert-toast-max-width: toem(330px) !default;
///
$alert-toast-animation-type: 'slide' !default; // Values: 'fade' or 'slide'
///
$alert-animation-duration: 1s !default;
///
$alert-animation-pesistence: 5s !default;
///
$alert-border-radius: none !default;
///
$alert-z-index-position: 1000 !default;
///
$alert-toast-positions: (
  'top-left': (
    top: 0,
    left: 0
  ),
  'top-right': (
    top: 0,
    right: 0
  ),
  'bottom-right': (
    bottom: 0,
    right: 0
  ),
  'bottom-left': (
    bottom: 0,
    left: 0
  )
);


/// Component Alert - 
/// Is a component to show two different types
/// of alert boxes: toast and top bar.
/// @example
///   //-> Toast
///   <div class="c-alert c-alert--toast c-alert--toast-{position} c-alert--{status}">Lorem ipsum dolor.</div>
///   //-> Top bar
///   <div class="c-alert c-alert--top-bar c-alert--{status}">Lorem ipsum dolor.</div>
@mixin c-alert {
  @keyframes slide-in-right {
    from {
      transform: translateX(#{$alert-toast-max-width + $alert-toast-margin});
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes slide-out-right {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(#{$alert-toast-max-width + $alert-toast-margin});
    }
  }

  @keyframes slide-in-left {
    from {
      transform: translateX(-#{$alert-toast-max-width + $alert-toast-margin});
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes slide-out-left {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-#{$alert-toast-max-width + $alert-toast-margin});
    }
  }
  .c-alert {
    position: fixed;
    z-index: $alert-z-index-position;
    padding: toem(20px);

    // Toast type
    &--toast {
      max-width: $alert-toast-max-width;
      margin: $alert-toast-margin;

      @if variable-exists(alert-border-radius) and $alert-border-radius != 'none' {
        border-radius: $alert-border-radius;
      }

      @if $alert-toast-animation-type == 'fade' {
        visibility: hidden;
        opacity: 0;
        animation: fade-in $alert-animation-duration forwards, fade-out $alert-animation-duration forwards $alert-animation-pesistence;
      }

      // Iterate through $alert-toast-positions map and create the proper classes
      @each $position, $coords in $alert-toast-positions {
        @at-root {
          .c-alert--toast-#{$position} {
            top: map-get($coords, top);
            right: map-get($coords, right);
            bottom: map-get($coords, bottom);
            left: map-get($coords, left);

            // Slide in and out from left
            @if $alert-toast-animation-type == 'slide' and map-get($coords, left) == 0 {
              transform: translateX(-#{$alert-toast-max-width + $alert-toast-margin});
              animation: slide-in-left $alert-animation-duration forwards, slide-out-left $alert-animation-duration forwards $alert-animation-pesistence;
            }
            // Slide in and out from right
            @else if $alert-toast-animation-type == 'slide' and map-get($coords, right) == 0 {
              transform: translateX(#{$alert-toast-max-width + $alert-toast-margin});
              animation: slide-in-right $alert-animation-duration forwards, slide-out-right $alert-animation-duration forwards $alert-animation-pesistence;
            }
          }
        }
      }
    }

    @at-root {
      // Iterate through $alert-status-color map and create the proper classes
      @each $status, $color in $alert-status-color {
        .c-alert--#{$status} {
          color: shade($color, 30%);
          background-color: $color;
          border: 1px solid shade($color, 10%);
        }
      }
    }

    // Hello bar type
    &--top-bar {
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      border-top: 0;
      border-right: 0;
      border-left: 0;
      transform: translateY(-100%);
      animation: slide-down $alert-animation-duration forwards, slide-up $alert-animation-duration forwards $alert-animation-pesistence;
    }
  }
}
