////
/// Buttons
/// @group Component - Buttons
////
@mixin button($color, $background-color, $border-color, $border-width){
  padding: 0 1em;
  min-width: torem(198px);
  border: torem($border-width) solid $border-color;
  color: $color;
  background-color: $background-color;
  font-weight: $msuif-font-weight-bold;
  letter-spacing: torem(1px);
}

.button {

  &__square{

    &--primary {
      @include button($color-white, $color-black, $color-black, 1px);
    }

    &--secondary {
      @include button($color-black, $color-white, $color-black, 1px);
    }

    &--tertiary {
      @include button($color-white, transparent, $color-white, 1px);
      padding: 5px 8px 5px 8px;
      font-weight: normal;
      font-size: $msuif-font-size-small;
    }
  }

  &__roundside {

    &--primary {
      @include button($color-white, $color-blue, $color-blue, 2px);
      border-radius: 0 50px 50px 0;
    }

    &--secondary {
      @include button($color-orange, $color-white, $color-white, 2px);
      border-radius: 0 50px 50px 0;
    }

    &--tertiary {
      @include button($color-white, $color-red, $color-white, 2px);
      border-radius: 0 50px 50px 0;
    }
  }

  &__pill {

    &--primary {
      @include button($color-white, transparent, $color-white, 2px);
      border-radius: torem(50px);
    }

    &--secondary {
      @include button($color-white, $color-red, $color-white, 2px);
      border-radius: torem(50px);
    }
  }
}
