////
/// Buttons
/// @group Component - Buttons
////
@mixin button($color, $background-color, $border-color, $border-width){
  border: torem($border-width) solid $border-color;
  color: $color;
  background-color: $background-color;
  font-family: $msuif-font-family-primary;
  font-weight: $msuif-font-weight-bold;
}

@mixin button_size {

  &--small {
    padding: 5px 15px;
    font-size: $msuif-font-size;
    min-width: toem(165px);
    max-height: toem(35px);

    @include respond-to('ismobile') {
      padding: 5px 5px;
      font-size: $msuif-font-size-small;
    }
  }

  &--medium-small {
    padding: 15px 10px;
    min-width: toem(220px);
    font-size: $msuif-font-size-big;

    @include respond-to('ipad') {
      min-width: toem(220px);
      padding: 15px 20px;
      font-size: $msuif-font-size-big;
    }

    @include respond-to('ismobile') {
      min-width: toem(220px);
      padding: 15px 20px;
      font-size: $msuif-font-size;
    }
  }

  &--medium {
    padding: 20px 25px;
    min-width: toem(150px);
    font-size: $msuif-font-size-jumbo;

    @include respond-to('ipad') {
      min-width: toem(130px);
      padding: 15px 20px;
      font-size: $msuif-font-size-big;
    }

    @include respond-to('ismobile') {
      min-width: toem(130px);
      padding: 15px 20px;
      font-size: $msuif-font-size-big;
    }
  }

  &--large {
    padding:0;
    width: torem(315px);
    height: torem(70px);
    font-size: $msuif-font-size-jumbo;
    text-align: center;

    @include respond-to('ismobile') {
        width: torem(180px);
        height: torem(50px);
        font-size: $msuif-font-size-big
    };
  }
}


.button {

  &__pill {
    @include button_size;

    &--primary {
      @include button($color-white, transparent, $color-white, 2px);
      border-radius: torem(50px);
    }

    &--secondary {
      @include button($color-red, transparent, $color-red, 2px);
      border-radius: torem(50px);
    }

    &--tertiary {
      @include button($color-orange, transparent, $color-orange, 2px);
      border-radius: torem(50px);
    }

    &--quaternary {
      @include button($color-white, $color-red, $color-red, 2px);
      border-radius: torem(50px);
    }
  }


  &__roundside {
    @include button_size;

    &--primary {
      @include button($color-white, $color-blue, $color-blue, 2px);
      border-radius: 0 50px 50px 0;
      padding: 2px 20px;
      min-width: auto;
      font-size: $msuif-font-size-big;
      text-transform: uppercase;
    }

    &--secondary {

      &__right {
        @include button($color-orange, $color-white, $color-orange, 2px);
        border-radius: 0 50px 50px 0;
        padding: 15px 10px;
        min-width: toem(120px);
        font-size: $msuif-font-size-big;

        @include respond-to('ismobile') {
          min-width: toem(100px);
        }

        &--active {
          @extend .button__roundside--secondary__right;
          background-color: $color-orange;
          color: $color-white;
        }
      }

      &__left {
        @extend .button__roundside--secondary__right;
        border-radius: 50px 0 0 50px;

        &--active {
          @extend .button__roundside--secondary__left;
          background-color: $color-orange;
          color: $color-white;
        }
      }
    }

    &--tertiary {
      @include button($color-white, $color-red, $color-white, 2px);
      border-radius: 0 50px 50px 0;
      padding: 8px 40px;
    }
  }


  &__square{
    @include button_size;

    &--primary {
      @include button($color-white, $color-facebook, $color-facebook, 1px);
    }

    &--secondary {
      @include button($color-white, $color-google, $color-google, 1px);
    }
  }

}
