// hello bar


.hello-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: torem(45px);
  top: 0;
  background-color: $color-green;

  &__text {
    display: flex;
    flex: 30;
    justify-content: center;
    color: $color-white;

    p {
      margin: 10px 0 10px 0;
    }

    button {
      margin: 5px 0 5px 20px;
      padding: 0 15px 0 15px;
    }
  }

  &__close {
    display: flex;
    justify-content: center;
    flex: 1;
    color: $color-white;
  }
}
