//  nav

.nav {
  display: flex;
  align-items: center;
  max-height: torem(60px);
  border: torem(1px) solid $color-black;
  background-color: $color-white;
  color: $color-black;

  &__logo {
    flex: 1;
    margin-left: torem(60px);

    a {
      display: flex;
      align-items: center;
    }

    i {
      justify-content: flex-start;
      font-size: torem(40px);
      color: $color-black;
    }

    p {
      justify-content: flex-start;
      font-size: torem(14px)
    }
  }

  &__links {
    flex: 3;
    text-align: center;
    overflow: hidden;

    ul {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
    }

    ul>li {
      position: relative;
      display: list-item;
      padding: 0 30px 0 30px;
      font-size: 20px;

      &:last-child {
        padding-right: 60px;
      }
    }
  }
}
