//  nav

.nav {
  position: relative;
  display: flex;
  align-items: center;
  background-color: $color-white;
  color: $color-red;
  padding: 15px 0;
  border-bottom: toem(4px) solid $msuif-font-color-tertiary;

  @include respond-to('ismobile') {
    border-bottom: toem(1px) solid $msuif-font-color-tertiary;
  }

  @include respond-to('ipad') {
    border-bottom: toem(1px) solid $msuif-font-color-tertiary;
  }

  &__logo {
    flex: 1;

    a {
      display: flex;
      align-items: center;
    }

    span {
      background-repeat: no-repeat;
      background-size: contain;
      height: toem(50px);
      width: toem(200px);
      margin-left: toem(60px);

      @include respond-to('ismobile') {
        height: toem(45px);
        margin-left: toem(10px);
      }

      @include respond-to('ipad') {
        height: toem(45px);
        margin-left: toem(10px);
      }
    }

    p {
      justify-content: flex-start;
    }
  }

  &__links {
    flex: 3;
    text-align: center;
    overflow: hidden;

    @include respond-to('ismobile') {
      display: none;
    }

    @include respond-to('ipad') {
      display: none;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
    }

    ul>li {
      display: list-item;
      padding: 0 30px 0 30px;
      font-size: 20px;

      &:last-child {
        padding-right: 60px;
      }
    }
  }

  &__mobile {
    color: $msuif-font-color;

    &--menu {
      margin-right: toem(8px);
      font-size: toem(40px);
      color: $color-orange;
    }

    &--dropdown {
      display: none;
      position: absolute;
      z-index: 100;
      right: 0;
      top: 0;
      background-color: $color-white;
      border: toem(1px) solid $color-orange;
      padding: 10px 0;
      border-radius: 10px 0 0 0;


      li:not(:first-child) {
        margin: 10px 40px 0 10px;
      }

      p:not(.small-p) {
        font-size: $msuif-font-size-big;
      }

      &--close {
        position: absolute;
        top: toem(5px);
        right: toem(5px);
        font-size: $msuif-font-size-big;
        color: $color-orange;
      }

      &--flex {
        display: flex;
        align-items: center;

        span {
          color: $color-orange;

          &:first-child {
            margin-right: toem(5px);
            font-size: $msuif-font-size-jumbo;
          }

          &:last-child {
            margin-left: toem(5px);
          }
        }
      }
    }

    @include respond-to('desktop') {
      display: none;
    }
  }
}
