// Progress indicator
@mixin progress-indicator($color){
  position: relative;
  display: inline-block;
  width: 18%;
  //Lines
  &:after {
    position: absolute;
    display: block;
    left: 80%;
    height: 1px;
    width: 80%;
    content: "";
    background-color: $color-peach;
  }
  // Bullets/Balls
  &:before {
    position: absolute;
    z-index: 2;
    top: -15px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    content: " ";
    background-color: $color;
  }
  &:last-child{
    &:after{
      display:none;
    }
  }
}
.progress-indicator-container {
  width: 100%;

  ul{
    text-align: center;
    width: toem(380px);
    margin: auto;
    margin-left: toem(-45px);

    @include respond-to('ismobile') {
      width: toem(340px);
      margin-left: toem(-40px);
    }
  }
}

.progress-indicator-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.progress-indicator-item {
  @include progress-indicator($color-peach);
  &--selected{
    @include progress-indicator($color-orange);
  }
}
