// Progress indicator

.progress-indicator {
  width: 100%;

  @include respond-to('ismobile') {
    max-width: 300px;
  }

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--item, &--item--selected {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background-color: $color-peach;
      z-index: 1;

      &::before {
        display: block;
        content: "";
        height: 1px;
        width: 145%;
        margin: 14px 30px;
        background-color: $color-peach;
        z-index: 0;
      }

      &:last-child {
        &::before {
          display: none;
        }
      }

      >a {
        position: absolute;
        display: block;
        height: 100%;
        width: 10%;
        top: 0;
      }
    }

    &--item--selected {
      background-color: $color-orange;
    }
  }
}
