// Custom clases to overide rangeslider ones.

.rangeslider--horizontal{
  max-height: 8px !important;
}

.rangeslider__fill {
  background: $color-red !important;
}

.rangeslider__handle {
  width: 25px !important;
  height: 25px !important;

  &::after {
    position: absolute !important;
    width: 10px !important;
    height: 10px !important;
    background: transparent !important;
    margin-top: -25px !important;
  }
}
