// tool-bar

.tool-bar {
  background-color: $color-white;
  color: $msuif-font-color-tertiary;

  .small-p {
    font-family: $msuif-font-family-default;
  }

  &__wrapper {
    display: flex;
    justify-content: flex-end;
    height: torem(45px);

    @include respond-to('ipad') {
      justify-content: center;
    }

    @include respond-to('ismobile') {
      display: none;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    >li {
      margin-right: toem(60px);

      @include respond-to('ipad') {
        justify-content: space-between;
        margin-right: toem(40px);

        &:last-child {
          margin-right: 0;
        }
      }

      // @include respond-to('ismobile') {
      //   margin-right: toem(30px);
      // }


      ul {
        display: flex;
        justify-content: center;
        align-items: center;

        li>a>p {
          margin-top: 0;
          margin-bottom: 0;
          color: $msuif-font-color-tertiary;
        }

        >li:not(:last-child) {
          margin-right: torem(8px);
        }
      }
    }

    &--otherlang {
      display: flex;
      align-items: center;

      span {
        margin-left: torem(8px);
        font-size: torem(25px);
      }
    }

    &--search {
      display: flex;
      align-items: center;
      span {
        margin-right: torem(8px);
        font-size: torem(20px);
      }
    }
  }
}
