.accelerate{
  @include main-wrapper($color-lightgray);

  h1 {
    margin-bottom: 0;
  }

  @include respond-to('ismobile') {
    h1{
        padding: 0 9px;
    }
  }
  &__container{
    padding:5% 0;
    margin: auto;
    @include respond-to('desktop') {
      display: flex;
      justify-content: space-around;
      flex-flow: row wrap;
    }

    @include respond-to('notdesktop') {
      justify-content: center;
      margin: 0 2%;
    }

    &__box {
      max-width: toem(280px);


      h4 {
       text-align: left;
       margin: 1% 0;
      }
      img {
        height: toem(300px);
        width: auto;

        @include respond-to('notdesktop') {
          width:30%;
          height:30%;
          margin-bottom: 0;
          margin-right: 2%;
        }
      }
      @include respond-to('desktop') {
        &--item {
          div:not(:first-child) {
            padding-left: 25px;
          }
          div:first-child {
            padding-left: 20px;
          }
        }
      }
      @include respond-to('notdesktop') {
        max-width: none;
        &--item {
          display:flex;
          flex-flow:row;
          justify-content: flex-start;
          align-items: center;
        }
      }
    }
  }
}
