// Block Quote

.blockquote {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-lighterblue;
  text-align: center;

  &__wrapper {
    flex: 6;
    color: $color-blue;
    padding: 5% 0 5% 0;

    img {
      border-radius: 50%;
      border: torem(6px) solid $color-white;
    }
  }

  &__arrow {
    flex: 1;
    color: $color-white;
    font-size: $msuif-font-size-super;
  }
}

.companies {
  height: torem(180px);
  width: 100%;
  background-color: $color-sand;

  &::before {
    content: "";
    position: absolute;
    left: 48%;
    width: 0;
    height: 0;
    border: 2em solid $color-lighterblue;
    border-color: transparent transparent $color-lighterblue $color-lighterblue;
    transform-origin: 0 0;
    transform: rotate(-45deg);
  }
}
