////
/// Footer
/// @group Footer
/// @author MS
////

.footer {
  display: flex;
  align-items: baseline;
  background-color: $color-red;
  color: $color-white;
  font-weight: bold;
  padding: 0 0 0 2%;

  &__links {
    flex: 5;
    padding-right: 2%;

    ul {
      display: flex;
      justify-content: space-around;

      li>a:first-child>p {
        margin-bottom: torem(30px);
      }
    }
  }

  &__email {
    flex: 3;

    &--wrapper {
      display: flex;

      input {
        flex-grow: 2;
      }
    }
  }

  &__social {
    flex: 1;
    padding: 0 0 0 5%;
    align-content: space-around;

    ul {
      display: flex;
      flex-flow: row wrap;
      font-size: torem(25px);

      li {
        flex-basis: 30%;

        &:nth-child(-n+3){
          margin-bottom: torem(20px);
        }
      }
    }
  }
}
