////
/// Footer
/// @group Footer
/// @author MS
////

.footer {
  display: flex;
  align-items: center;
  background-color: $color-red;
  color: $color-white;
  padding: 2%;

  @include respond-to('ismobile') {
    display: block;
  }

  @include respond-to('ipad') {
    display: block;
  }

  &__links {
    flex: 4;
    padding-right: 10%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    ul {
      li{
        margin-bottom: toem(20px);
      }

    }

    &--mobile {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-top: toem(30px);
      ul {
        li {
          margin-bottom: toem(20px);
        }
      }

      @include respond-to('desktop') {
        display: none;
      }
    }

    @include respond-to('ismobile') {
      display: none;
    }

    @include respond-to('ipad') {
      display: none;
    }
  }

  &__email {
    flex: 4;

    p {
      margin-bottom: toem(10px);

      @include respond-to('ismobile') {
        margin-top: toem(15px);
      }

      @include respond-to('ipad') {
        margin-top: toem(15px);
      }
    }

    &--wrapper {
      display: flex;
      flex-wrap: wrap;

      input {
        margin-bottom: toem(8px);
        color: $color-black;
        font-size: $msuif-font-size-small;

        &[type="text"] {
          flex: 1;

          @include respond-to('ismobile') {
            width: 49%;
          }

          @include respond-to('ipad') {
            width: 49%;
          }

          &:first-child {
            margin-right: toem(8px);
          }
        }

        &[type="email"] {
          width: 100%;
        }

        &::placeholder {
          color: $color-black;
          font-size: $msuif-font-size-small;
        }
      }

      button {
        margin-top: toem(8px);
      }
    }
  }

  &__social {
    display: flex;
    justify-content: space-around;
    flex: 2;
    padding-left: 3%;

    @include respond-to('ismobile') {
      padding-left: 0;
      padding-bottom: toem(20px);
    }

    @include respond-to('ipad') {
      padding-left: 0;
      padding-bottom: toem(20px);
    }

    ul {
      display: flex;
      align-items: center;
      flex-flow: row wrap;
      margin: 0;

      @include respond-to('ismobile') {
        justify-content: center;
        flex-wrap: nowrap;
        width: 100%;
        margin-top: toem(25px);
      }

      @include respond-to('ipad') {
        justify-content: center;
        flex-wrap: nowrap;
        width: 100%;
        margin-top: toem(25px);
      }

      li {
        flex-basis: 33%;
        font-size: 35px;

        @include respond-to('ismobile') {
          text-align: center;
        }

        @include respond-to('ipad') {
          text-align: center;
        }

        &:nth-child(-n+3) {
          margin-bottom: toem(8px);

          @include respond-to('ismobile') {
            margin-bottom: 0;
          }

          @include respond-to('ipad') {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
