////
/// Home
/// @group Home
/// @author MS
////

.home {

  &__jumbotron {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: $color-red; //fallback color

    &--wrapper {
      padding: 10% 0 3% 0;
      width: 65%;
      margin: auto;
      text-align: center;
      color: $color-white;

      h4 {
        margin-bottom: torem(20px);
      }

      &__inner {
        width: 92%;

        h2 {
          margin-top: torem(120px);
          margin-bottom: torem(20px);
        }
      }

      &--button__container {
        display: flex;
        justify-content: space-between;
        margin: auto;
        max-width: 700px;
        @include respond-to('ismobile'){
          width: auto;
          flex-wrap: wrap;
        }
        button {
          margin-bottom: torem(50px);
          height: torem(70px);
          font-size: $msuif-font-size-jumbo;
        }
      }
    }
  }
}
