////
/// Home
/// @group Home
/// @author MS
////

.home {

  &__jumbotron {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: $color-red; //fallback color

    &--wrapper {
      padding: 20% 0 10% 0;
      width: 65%;
      margin: auto;
      text-align: center;
      color: $color-white;
      @include respond-to('ismobile'){
        width: auto;
        padding: 30% 2% 8% 2%;
      }
      h4 {
        margin-bottom: toem(20px);
        color: $color-white;
      }

      &__inner {
        width: 92%;
        @include respond-to('ismobile'){
          width: auto;
        }
        h2 {
          margin-bottom: toem(20px);
        }
      }

      &--button__container {
        display: flex;
        justify-content: space-between;
        margin: auto;
        max-width: 700px;
        @include respond-to('ismobile'){
          width: auto;
          flex-wrap: wrap;
        }
      }
    }
  }
}
