////
/// Home
/// @group Home
/// @author MS
////

.home {
  
  &__jumbotron {
    background-image: url(http://lorempixel.com/1800/1200/people/4);
    background-repeat: no-repeat;
    background-color: $color-red; //fallback color

    &--wrapper {
      padding: 10% 0 3% 0;
      width: 50%;
      margin: auto;
      text-align: center;

      h1 {
        padding-top: torem(120px);
      }

      h1, h4 {
        padding-bottom: torem(20px);
        color: $color-white;
        font-weight: $msuif-font-weight-bold;
      }

      button {
        margin-bottom: torem(50px);
        height: torem(70px);
        width: torem(180px);
        font-size: $msuif-font-size-jumbo;
      }
    }
  }
}
