// Members section

.members {
  @include main-wrapper;
  width: 75%;
  background-color: $color-white;
  border-top: toem(4px) solid $color-gray;
  padding-bottom: toem(50px);

  @include respond-to('ismobile') {
    width: 100%;
    padding: 5% 2%;
  }

  @include respond-to('ipad') {
    width: 100%;
    padding: 5% 5%;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    text-align: center;

    button {
      text-align: center;
    }
  }

  &__search-by-name {
    display: flex;
    justify-content: flex-start;
    padding: 30px 0 20px;

    input {
      flex: 5;
    }

    button {
      flex: 1;
    }
  }

  &__search-other-criteria {
    font-weight: $msuif-font-weight-bold;
    margin-bottom: toem(40px);

    @include respond-to('ismobile') {
      padding: 0 10px;
    }

    &--elem {
      display: flex;
      align-items: center;
      margin-bottom: toem(10px);
      text-align: left;

      @include respond-to('ismobile') {
        display: block;
        justify-content: flex-start;
      }

      label {
        width: 80px;
        text-align: left;
      }

      select {
        @include respond-to('ismobile') {
          width: 100%;
        }
      }
    }
  }

  &__tiles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    section {
      @include respond-to('ismobile') {
        width: 50%;
      }

      @include respond-to('ipad') {
        width: 32%;
      }
    }
  }

  >button {
    min-width: toem(200px);
  }
}
