// PARTNERS

.partners {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 5% 8%;
  background-color: $color-white;;

  h2 {
    padding-bottom: torem(40px);
    color: $color-orange;
  }

  &__profile {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: torem(30px);

    &--individual {
      width: 30%;
      padding: 20px 15px 0 15px;
      background-color: $color-white;
      border: torem(3px) solid $color-gray;
      border-radius: torem(15px);
      min-height: toem(435px);

      img {
        height: toem(150px);
        width: toem(150px);
        border-radius: 50%;
      }

      &--naming {

        h4, h5 {
          margin: 0;
        }

        img {
          height: toem(65px);
          width: toem(45px);
          border-radius: 0px;
        }
      }

      @include respond-to('ismobile'){
        margin: auto;
        width: 80%;
        margin-bottom: torem(20px);
      }
    }

    @include respond-to('ismobile') {
       display: block;
     }
  }

  button {
    font-size: $msuif-font-size-jumbo;
  }
}
