// Stories

.stories {
  @include myPulse;
  position: relative;
  display: inline-block;

  &__tell-button {
    margin-bottom: toem(30px);

    >button {
      min-width: toem(200px);
    }

    @include respond-to('desktop') {
      display: none;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &__nav {
    color: $color-gray;
    font-size: $msuif-font-size-big;
    margin-top: toem(40px);
    margin-bottom: toem(40px);

    @include respond-to('ismobile') {
      font-size: toem(14px);
      margin-bottom: toem(20px);

      ul:last-child {
        li:nth-child(n+3):not(:last-child){
          display: none;
        }
      }
    }

    @include respond-to('ipad') {
      font-size: $msuif-font-size;
      margin-bottom: toem(20px);
    }

    ul{
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

      li:not(:first-child) {
        padding-bottom: toem(12px);
        padding-left: toem(20px);

        @include respond-to('ismobile') {
          padding-left: toem(10px);
        }
      }
    }

    &--dropdown {
      display: none;
      position: absolute;
      z-index: 1;
      top: toem(200px);
      right: toem(110px);
      text-align: left;
      padding: 1.5%;
      border: toem(2px) solid $color-orange;
      background-color: inherit;
      color: $color-gray;
      font-size: $msuif-font-size-big;

      @include respond-to('ismobile') {
        top: toem(270px);
        right: 0;
        font-size: toem(14px);
      }

      @include respond-to('ipad') {
        top: toem(250px);
        right: toem(80px);
        font-size: $msuif-font-size;
      }

      ul {
        margin: 0;

        li {
          margin-bottom: torem(5px);
        }
      }
    }
  }

  &__articles {
    text-align: left;
  }

  >button {
    min-width: toem(200px);
  }
}
