// Tell your story

.tell-your-story {
  @include myPulse;
  display: inline-block;
  width: 25%;
  float: right;
  background-color: $color-white;
  text-align: center;

  >button {
    min-width: 95%;
    margin-bottom: toem(40px);
  }

  h5 {
    max-width: 212px;
    margin: auto;
  }
}
