// tool-bar

.tool-bar {
  background-color: $color-white;

  &__wrapper {
    display: flex;
    justify-content: flex-end;
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    >li {
      margin-right: 60px;

      ul {
        display: flex;
        justify-content: center;
        align-items: center;

        >li:not(:last-child) {
          margin-right: 20px;
        }
      }
    }
  }
}
