<section class="accelerate">
  <h1>
    How We Accelerate Change
  </h1>
  <div class="accelerate__container">

    <div class="accelerate__container__box">
      <div class="accelerate__container__box--item">
          <img src="http://cimg1.ibsrv.net/cimg/www.lawyers.com/130x130_85/825/donut_73-130825.png" alt="" />
          <div>
            <h4>It Starts With a Story</h4>
            <h6>
              Read or tell a story from the heart
            </h6>
          </div>
      </div>
    </div>

    <div class="accelerate__container__box">
      <div class="accelerate__container__box--item">
        <img src="http://cimg1.ibsrv.net/cimg/www.lawyers.com/130x130_85/825/donut_73-130825.png" alt="" />
        <div>
          <h4>Connect and Support</h4>
          <h6>
            Leave supportive comments,exchange wisdom, skills and resources
          </h6>
        </div>
      </div>
    </div>

    <div class="accelerate__container__box">
      <div class="accelerate__container__box--item">
        <img src="http://cimg1.ibsrv.net/cimg/www.lawyers.com/130x130_85/825/donut_73-130825.png" alt="" />
        <div>
          <h4>Fuel the Ripple Effect</h4>
          <h6>
            With a global support network, digital skills and resources, ordinary women create greater change in their communities.
          </h6>  
        </div>
      </div>
    </div>

  </div>
  <button type="button" name="button" class="button__pill--tertiary button__pill--medium">Our Impact</button>
</section>
