<!DOCTYPE html>

<article class="article">
  <div class="article--header">
    <span class="article--header__profile">
      <div class="article--header__profile__photo" style="background-image: url('https://www.worldpulse.com/sites/default/files/styles/borealis_teaser_thumbnail_respondmedium/public/spotlight/68152/post/3a0f0126417084ef8224ea465b84036b/clarissa.jpg?itok=KiphFxEe')"></div>
      <div class="article--header__profile__wrapper">
        <h5>Enmita Marin</h5>
        <img src="https://www.worldpulse.com/sites/default/files/styles/term_country_flag_small/public/countryflag/united-kingdom.png?itok=b6u1xSWQ" alt="" class="article--header__profile__wrapper--flag">
      </div>
    </span>
  </div>
  <div class="article--text">
    <h4>Don't Make Me Choose Between My Profession and My Son</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, nulla, pariatur. Culpa omnis, quod, commodi vero ducimus doloremque, enim sunt officia eveniet ab eos animi! Maxime iusto fugiat architecto, veritatis.</p>
  </div>
  <div class="article--actions">
    <div class="article--actions__elem">
      <div class="ms-icon icon-over_heart"><span class="icon-heart__value">46</span></div><p class="small-p">Send Me Love</p>
    </div>
    <div class="article--actions__elem">
      <div class="ms-icon icon-over_speach"><span class="icon-speach__value">35</span></div><p class="small-p">Encourage Me</p>
    </div>
    <div class="article--actions__elem--welcome">
      <span class="ms-icon icon-hand"></span><p class="small-p green">Welcome me, this is my first post!</p>
    </div>
  </div>
</article>
