<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Community Leadership Program | World Pulse</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="canonical" href="#" />
  <!-- Open Graph metatags -->
  <meta property="og:title" content="" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="" />
  <meta property="og:url" content="" />
  <meta property="og:description" content="" />
  <meta property="og:site_name" content="" />
  <!-- Stylesheets and polyfills -->
  <link rel="stylesheet" type="text/css" href="./css/styles.css">
  <!-- Font-awesome -->
  <link href="https://netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
  <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content=""><!-- Add brand color -->
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
</head>

<body class="">


  <!-- Header -->
  <header>
  </header>
  <!-- /End of Header -->

  <!-- Content -->
  <main role="main">

    <!-- build:include header.html --><!-- /build -->
    <section style="background-color: gray">
      <div class="progress-indicator">
        <ul class="progress-indicator__container">
          <li class="progress-indicator__container--item"></li>
          <li class="progress-indicator__container--item--selected"></li>
          <li class="progress-indicator__container--item"></li>
          <li class="progress-indicator__container--item"></li>
        </ul>
      </div>

      <div>
         <div>
           <input type="text" name="name" value="" class="mb20 mt20 input__classic--primary"><br>
           <input type="text" name="name" value="" class="mb20 input__classic--secondary"><br>
           <input type="text" name="name" value="" class="mb20 input__roundside--primary"><br>
           <input type="text" name="name" value="" class="mb20 input__roundside--secondary"><br>
           <input type="text" name="name" value="" class="mb20 input__square"><br>
           <input type="text" name="name" value="" class="mb20 input__square--error">

           <br><br>

           <button type="button" name="button" class="button__square--primary">Sign up</button>
           <button type="button" name="button" class="button__square--secondary">Sign up</button>
           <button type="button" name="button" class="button__roundside--primary">sign up</button>
           <button type="button" name="button" class="button__roundside--secondary">sign up</button>
           <button type="button" name="button" class="button__roundside--tertiary">sign up</button>
           <button type="button" name="button" class="button__pill--primary">sign up</button>
           <button type="button" name="button" class="button__pill--secondary">sign up</button>
         </div>

         <br><br>

         <div>
           <select class="dropdown__pill--red" name="">
              <option> Filter Topics </option>
            </select>
           <select class="dropdown__pill--blue" name="">
             <option> Filter Topics </option>
           </select>
           <select class="dropdown__pill--green" name="">
             <option> Filter Topics </option>
           </select>
           <select class="dropdown__square" name="">
             <option>pulldown</option>
           </select>
         </div>

         <br><br>

         <div class="wrapper-tab">
           <a class="tabs__tab tabs__tab--is-active" href="#tab1">Tab 1</a>
           <a class="tabs__tab" href="#tab2">Tab 2</a>
           <a class="tabs__tab" href="#tab3">Tab 3</a>
           <a class="tabs__tab tabs__tab--not-active" href="#tab4">Tab 4</a>
           <div class="tabs__content" id="tab1">
             <p>Tab 1 content</p>
           </div>
           <div class="tabs__content" id="tab2">
             <p>Tab 2 content</p>
           </div>
           <div class="tabs__content" id="tab3">
             <p>Tab 3 content</p>
           </div>
           <div class="tabs__content" id="tab4">
             <p>Tab 4 content</p>
           </div>
         </div>
       </div>
     </section>

    <!-- build:include footer.html --><!-- /build -->

  </main>
  <!-- /End of Content -->

  <!-- Footer -->
  <footer>
  </footer>
  <!-- /End of Footer -->

  <!-- Javascript files -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script>
  window.jQuery || document.write('<script src="./js/vendor/jquery.min.js"><\/script>');
  </script>
  <script src="./js/modules.js"></script>
</body>

</html>
