<footer class="footer">
  <nav class="footer__links">
    <ul>
      <li><a href=""><p>About Us</p></a>
        <a href=""><p>FAQ</p></a>
        <a href=""><p>Staying Safe Online</p></a>
        <a href=""><p>Employment</p></a>
      </li>
      <li>
        <a href=""><p>Newsroom</p></a>
        <a href=""><p>Partner with Us</p></a>
        <a href=""><p>Contact Us</p></a>
        <a href=""><p>Terms of service</p></a>
      </li>
    </ul>
  </nav>

  <nav class="footer__links--mobile">
    <ul>
      <li><a href=""><p>About Us</p></a>
        <a href=""><p>FAQ</p></a>
        <a href=""><p>Employment</p></a>
      </li>
      <li>
        <a href=""><p>Staying Safe Online</p></a>
        <a href=""><p>Partner with Us</p></a>
        <a href=""><p>Terms of service</p></a>
      </li>
      <li>
        <a href=""><p>Newsroom</p></a>
        <a href=""><p>Contact Us</p></a>
      </li>
    </ul>
  </nav>

  <form class="footer__email">
    <p>Get email updates from World Pulse</p>
    <div class="footer__email--wrapper">
      <input type="text" class="input__classic--secondary" placeholder="First name" required maxlength="60">
      <input type="text" class="input__classic--secondary" placeholder="Last name (Optional)" maxlength="60">
      <input type="email" class="input__classic--secondary" placeholder="Enter email address" required>
      <button type="sumbit" class="button__pill--primary button__pill--small">Sign Up</button>
    </div>
  </form>
  <div class="footer__social">
    <ul>
      <li><a href=""><span class="fa fa-facebook"></span></a></li>
      <li><a href=""><span class="fa fa-linkedin"></span></a></li>
      <li><a href=""><span class="fa fa-twitter"></span></a></li>
      <li><a href=""><span class="fa fa-youtube-play"></span></a></li>
      <li><a href=""><span class="fa fa-instagram"></span></a></li>
      <li><a href=""><span class="fa fa-vimeo"></span></a></li>
    </ul>
  </div>
</footer>
