<footer class="footer">
  <nav class="footer__links">
    <ul>
      <li><a href=""><p>About Us</p></a>
        <a href=""><p>FAQ</p></a>
      </li>
      <li>
        <a href=""><p>Staying Safe Online</p></a>
        <a href=""><p>Partner with Us</p></a>
      </li>
      <li>
        <a href=""><p>Partner with Us</p></a>
        <a href=""><p>Contact Us</p></a>
      </li>
      <li>
        <a href=""><p>Newsroom</p></a>
        <a href=""><p>Employment</p></a>
      </li>
    </ul>
  </nav>
  <form class="footer__email">
    <p>Get email updates from World Pulse</p>
    <p class="footer__email--wrapper">
      <input type="email" class="input__classic--secondary" placeholder="Enter email address">
      <button type="sumbit" class="button__roundside--tertiary uppercase">sign up</button>
    </p>
  </form>
  <div class="footer__social">
    <ul>
      <li><a href=""><i class="fa fa-facebook"></i></a></li>
      <li><a href=""><i class="fa fa-linkedin"></i></a></li>
      <li><a href=""><i class="fa fa-twitter"></i></a></li>
      <li><a href=""><i class="fa fa-youtube-play"></i></a></li>
      <li><a href=""><i class="fa fa-flickr"></i></a></li>
    </ul>
  </div>
</footer>
