<section class="home">
    <div class="home__jumbotron">
      <div class="home__jumbotron--wrapper">
        <div class="home__jumbotron--wrapper__inner">
          <h2>create a world where all women thrive</h2>
        </div>
        <h4>We are a social network transforming women lives across 190 countries through digital connections. Join our digital uprising and speed up the change - one click, one comment, one connection at a time.</h4>
        <div class="home__jumbotron--wrapper--button__container">
          <button type="button" name="button" class="button__pill--primary button__pill--large">Join Us</button>
          <button type="button" name="button" class="button__pill--primary button__pill--large">Stay in Touch</button>
        </div>
      </div>
    </div>
</section>
