<section class="members">
  <div class="members__buttons">
    <button type="button" name="button" class="button__roundside--secondary__left button__roundside--medium" id="goToStories">Stories</button>
    <button type="button" name="button" class="button__roundside--secondary__right--active button__roundside--medium">Members</button>
  </div>
  <form class="members__search-by-name" action="index.html" method="post">
    <input type="search" name="name" value="Search by Username" class="input__classic--primary">
    <button type="button" name="button" class="button__roundside--primary button__roundside--medium">Search</button>
  </form>
  <div class="members__search-other-criteria">
    <div class="members__search-other-criteria--elem">
      <label class="red">Country/Region</label>
      <select class="dropdown__pill--red" name="">
        <option>Any</option>
      </select>
    </div>
    <div class="members__search-other-criteria--elem">
      <label class="blue">Badge</label>
      <select class="dropdown__pill--blue" name="">
        <option>Any</option>
      </select>
    </div>
    <div class="members__search-other-criteria--elem">
      <label class="green">Interests</label>
      <select class="dropdown__pill--green" name="">
        <option>Any</option>
      </select>
    </div>
  </div>
  <div class="members__tiles">
    <!-- build:include tiles.html --><!-- /build -->
    <!-- build:include tiles.html --><!-- /build -->
    <!-- build:include tiles.html --><!-- /build -->
    <!-- build:include tiles.html --><!-- /build -->
    <!-- build:include tiles.html --><!-- /build -->
    <!-- build:include tiles.html --><!-- /build -->
    <!-- build:include tiles.html --><!-- /build -->
    <!-- build:include tiles.html --><!-- /build -->
    <!-- build:include tiles.html --><!-- /build -->
  </div>
  <button type="button" name="button" class="button__pill--tertiary button__pill--medium">See More</button>
</section>
