<!DOCTYPE html>

<nav class="nav">
  <div class="nav__logo">
    <a href="index.html">
      <span aria-hidden="true" style="background-image: url('fonts/Logo_horizontal.svg');"></span>
    </a>
  </div>
  <div class="nav__links">
    <ul>
      <li><h6><a href="my-pulse.html">My Pulse</a></h6></li>
      <li><h6><a href="#">Changemakers</a></h6></li>
      <li><h6><a href="#">Story Awards</a></h6></li>
      <li><h6><a href="#">Resources</a></h6></li>
      <li><h6><a href="#">About</a></h6></li>
    </ul>
  </div>
  <div class="nav__mobile">
    <a class="nav__mobile--menu"><i class="ms-icon icon-hamburger-menu" aria-hidden="true"></i></a>
    <div class="nav__mobile--dropdown">
      <ul>
        <li class="nav__mobile--dropdown--close"><i class="ms-icon icon-close" aria-hidden="true"></i>X</li>
        <li><a href="my-pulse.html">My Pulse</a></li>
        <li><a href="#">Changemakers</a></li>
        <li><a href="#">Story Awards</a></li>
        <li><a href="#">Resources</a></li>
        <li><a href="#">About</a></li>
        <hr>
        <li><a href="sign-in.html">Sign In</a></li>
        <li><a href="sign-up.html" class="nav__mobile--dropdown--close--text">Sign Up</a></li>
        <hr>
        <li><a href="#" class="small-p">English</a></li>
        <li><a href="#" class="small-p">Francais</a></li>
        <li  class="nav__mobile--dropdown--flex">
          <a href="#" class="small-p">Select Other Language</a>
          <span class="fa fa-caret-right"></span>
        </li>
        <hr>
        <li class="nav__mobile--dropdown--flex">
          <span class="fa fa-search"></span>
          Search
        </li>
        <hr>
        <li><a href="#">Give</a></li>
      </ul>
    </div>
  </div>
</nav>
