<section class="partners">
  <h2>
    Partner with Top Digital Changemakers
  </h2>
  <div class="partners__profile">
    <div class="partners__profile--individual">
      <img src="http://lorempixel.com/200/200/people/1" alt="">
      <span class="partners__profile--individual--naming">
        <h4>Enmita Marin</h4>
        <img src="https://www.worldpulse.com/sites/default/files/styles/term_country_flag_small/public/countryflag/united-kingdom.png?itok=b6u1xSWQ" alt="" />
        <h4 class="bold">
          End Breast Ironing with Me
        </h4>
        <p>Update: Notes from the field</p>
      </span>

    </div>
    <div class="partners__profile--individual">
      <img src="http://lorempixel.com/200/200/people/1" alt="">
      <span class="partners__profile--individual--naming">
        <h4>Deseeme</h4>
        <img src="https://www.worldpulse.com/sites/default/files/styles/term_country_flag_small/public/countryflag/united-kingdom.png?itok=b6u1xSWQ" alt="" />
        <h4 class="bold">
          Digitally Empower Woman with Me
        </h4>
        <p>Update: Overcoming Challenges During the Home Stretch</p>
      </span>

    </div>
    <div class="partners__profile--individual">
      <img src="http://lorempixel.com/200/200/people/1" alt="">
      <span class="partners__profile--individual--naming">
        <h4>LaurenC</h4>
        <img src="https://www.worldpulse.com/sites/default/files/styles/term_country_flag_small/public/countryflag/united-kingdom.png?itok=b6u1xSWQ" alt="" />
        <h4 class="bold">
          Equip Girls to Fight Sex Trafficking with Me
        </h4>
        <p>Update: Our Kickoff was a success</p>
      </span>

    </div>
  </div>
  <button type="button" name="button" class="button__pill--tertiary">Partner With Us</button>
</section>
