<section class="partners">
  <h1>
    Partner with Top Digital Changemakers
  </h1>
  <div class="partners__profile">
    <div class="partners__profile--individual">
      <img src="https://www.worldpulse.com/sites/default/files/styles/borealis_teaser_thumbnail_respondmedium/public/spotlight/68152/post/3a0f0126417084ef8224ea465b84036b/clarissa.jpg?itok=KiphFxEe" alt="">
      <span class="partners__profile--individual--naming">
        <h4>Clarissa Rios</h4>
        <img src="https://www.worldpulse.com/sites/default/files/styles/term_country_flag_small/public/countryflag/peru.png?itok=glWh5O3D" alt="" />
        <h4 class="bold">
          End Breast Ironing with Me
        </h4>
        <p>Update: Notes from the field</p>
      </span>

    </div>
    <div class="partners__profile--individual">
      <img src="https://www.worldpulse.com/sites/default/files/styles/teaser_user_thumbnail/public/user_profile/17346/1450817089.jpg?itok=gjD-tgLf" alt="">
      <span class="partners__profile--individual--naming">
        <h4>shahd</h4>
        <img src="https://www.worldpulse.com/sites/default/files/styles/term_country_flag_small/public/countryflag/united-states.png?itok=b6u1xSWQ" alt="" />
        <h4 class="bold">
          Digitally Empower Woman with Me
        </h4>
        <p>Update: Overcoming Challenges During the Home Stretch</p>
      </span>

    </div>
    <div class="partners__profile--individual">
      <img src="https://www.worldpulse.com/sites/default/files/styles/borealis_teaser_thumbnail_respondmedium/public/spotlight/68050/post/84dd19306fdb34598300501a6eb12b23/atinuke.jpg?itok=ZeSchogC" alt="">
      <span class="partners__profile--individual--naming">
        <h4>LaurenC</h4>
        <img src="https://www.worldpulse.com/sites/default/files/styles/term_country_flag_small/public/countryflag/united-kingdom.png?itok=b6u1xSWQ" alt="" />
        <h4 class="bold">
          Equip Girls to Fight Sex Trafficking with Me
        </h4>
        <p>Update: Our Kickoff was a success</p>
      </span>

    </div>
  </div>
  <button type="button" name="button" class="button__pill--tertiary button__pill--medium">Partner With Us</button>
  <hr>
</section>
