<section class="pay-it-forward">
    <div class="pay-it-forward__jumbotron" style="background-image:url(https://www.worldpulse.com/sites/all/modules/features/wp_feature_training/img/training.jpg)">
      <div class="pay-it-forward__jumbotron--wrapper">
        <h2>pay it forward</h2>
        <h4>Every dollar you give supports your sisters voices worldwide.</h4>
        <button type="button" name="button" class="button__pill--primary button__pill--medium">Give</button>
      </div>
    </div>
</section>
