<!DOCTYPE html>

<div class="sign-up-2" id="sign-up-2">
  <h3>Step 1: Become a Member</h3>
  <div class="sign-up-2__content">
    <!-- build:include progress-indicator.html--><!-- /build -->
    <form action="index.html" method="post">
      <div class="sign-up-2__content--form">
        <input id="sign-up-email" type="email" name="name" value="" class="input__classic--primary" placeholder="Email Address">
        <p id="disclaimer-email">We won't share your email with anyone without your consent. All emails from Worldpulse will be sent to your address.</p>
        <input  id="sign-up-name" type="text" name="name" value="" class="input__classic--primary" placeholder="Username">
        <p id="disclaimer-name"><span class="bold">Tip: </span>Consider using an alias or "pen name" if you are in a country or environment that punishes free speach.</p>
        <input  id="sign-up-password" type="password" name="name" value="" class="input__classic--primary" placeholder="Password">
        <div id="disclaimer-password">
          <p><span class="bold">Tip: </span>
            Create strong passwords and change them often. A strong passwords has:
            <ul>
              <li>8 characters or more.</li>
              <li>UPPERCASE letters, lowercase letters, and numbers.</li>
              <li>At least one special character !@#%?</li>
            </ul>
          </p>
        </div>
      </div>
      <div class="sign-up-2__content--separator">
        <p><span>or</span></p>
      </div>
      <div class="sign-up-2__content--social">
        <button type="button" name="button" class="button__square--primary button__square--medium-small"><i class="fa fa-facebook"></i><span class="mini-p">Sign In with Facebook</span></button>
        <button type="button" name="button" class="button__square--secondary button__square--medium-small"><i class="fa fa-google"></i><span class="mini-p">Sign In with Google</span></button>
      </div>
      <div class="sign-up-2__content--terms">
        <input type="checkbox" name="terms" value="">
        <p>By checking this box I agree to the Terms of Sevice (required).</p>
      </div>
      <button type="submit" name="button" class="button__pill--quaternary button__pill--medium-small">Become a Member</button>
    </form>
  </div>
</div>
