<section class="stories">
  <div class="stories__buttons">
    <button type="button" name="button" class="button__roundside--secondary__left--active button__roundside--medium">Stories</button>
    <button type="button" name="button" class="button__roundside--secondary__right button__roundside--medium">Members</button>
  </div>
  <!-- build:include hear-her-story.html --><!-- /build -->
  
  <!-- <nav class="stories__nav">
    <ul>
      <li><a href="#" class="stories__nav--active">Featured</a></li>
      <li><a href="#">Most Popular</a></li>
      <li><a href="#">Leadership</a></li>
      <li><a href="#">Education</a></li>
      <li><a href="#">Sub-Saharan Africa</a></li>
      <li><a href="javascript:void(0)" class="more-id" id="more">More...</a></li>
    </ul>
  </nav> -->
</section>
