<!DOCTYPE html>

<aside class="tell-your-story">
  <button type="button" name="button" class="button__pill--quaternary button__pill--small capitalize">tell your story</button>
  <div class="tell-your-story__community-activity">
    <h5 class="enhaced-title capitalize">community activity</h5>
    <div class="tell-your-story__community-activity__feeds">
      <i class="ms-icon icon-chevron-left"></i>
      <!-- build:include feeds.html --><!-- /build -->
      <div class="tell-your-story__community-activity__feeds--hide-mobile">
        <!-- build:include feeds.html --><!-- /build -->
        <!-- build:include feeds.html --><!-- /build -->
        <!-- build:include feeds.html --><!-- /build -->
        <!-- build:include feeds.html --><!-- /build -->
      </div>
      <i class="ms-icon icon-chevron-left"></i>
    </div>
  </div>
  <div class="tell-your-story__earn-badge">
    <h5 class="enhaced-title capitalize">earn your next badge</h5>
    <div class="tell-your-story__earn-badge--badges">
      <i class="ms-icon icon-chevron-left"></i>
      <img src="http://www.worldpulse.com/sites/default/files/styles/editorial_max_width/public/images/page/35474/wp_icons_mentor_64_0.png?itok=ntq6jt5B" alt="">
      <i class="ms-icon icon-chevron-left"></i>
    </div>
    <p class="capitalize">community mentor</p>
    <p class="small-p enhaced-title italic"><a href="#">Tell us if a connection impacted your life</a></p>
  </div>
</aside>
