<section>
  <nav class="tool-bar">
    <div class="tool-bar__wrapper">
      <ul class="tool-bar__links">
        <li>
          <ul>
            <li><a href="#"><p>English</p></a></li>
            <li><a href="#"><p>Francais</p></a></li>
            <li>
              <ul>
                <li>Select Other Language <i></i></li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <ul>
            <li><a href="#"><p>Sign In</p></a></li>
            <li><a href="#"><p>Sign Up</p></a></li>
          </ul>
        </li>
        <li>
          <i></i><p>Search</p>
        </li>
        <li>
          <a href="#">Give</a>
        </li>
      </ul>
    </div>
  </nav>
</section>
